@using Microsoft.JSInterop
@using WebApplication.DTOs
@model Models.PersonViewModel;

@{
ViewData["Title"] = "Add Person Page";
}
<h1>Ajouter une personne</h1>
<hr/>
<form method="POST" asp-controller="Home" asp-action="AddBluray">
    <div>
        <h6><strong>Nom :</strong></h6>
        <input required type="text" asp-for="Nom"/>

        <h6><strong>Prénom :</strong></h6>
        <input required type="text" asp-for="Prenom"/>

        <h6><strong>Profession :</strong></h6>
        <input required type="time" asp-for="Profession"/>

        <h6><strong>Date de naissance :</strong></h6>
        <input required id="data" type="date" asp-for="DateNaissance"/>

        <h6><strong>Nationalité :</strong></h6>
        <input required id="text" type="date" asp-for="Nationalite"/>
        
        <input type="submit" value="Submit"/>
    </div>
</form>