@using Microsoft.JSInterop
@using WebApplication.DTOs
@model WebApplication.Models.AddBlurayViewModel


@{
    ViewData["Title"] = "Add bluray Page";
}
<h1>Ajouter un Bluray</h1>
<hr/>
<form method="POST" asp-controller="Home" asp-action="AddBluray">
    <div>
        <p>Titre :</p>
        <input type="text" asp-for="Titre"/>

        <p>Réalisateur :</p>
        <input type="text" asp-for="Realisateur"/>

        <p>Scénariste :</p>
        <input type="text" asp-for="Scenariste"/>

        <p>Durée :</p>
        <input type="time" asp-for="Duree"/>

        <p>Date de sortie :</p>
        <input id="data"type="date" asp-for="DateSortie"/>

        <p>Version :</p>
        <input type="number" asp-for="Version"/>
            <p>Acteurs :</p>
            <select id="selectActor">
                @foreach (var acteur in Model?.Acteurs)
                {
                    <option value=@acteur.Nom>@acteur.Nom @acteur.Prenom</option>
                }
            </select>
        <a onclick="handleAddActor()">Ajouter acteur</a>
        <div id="listActeurs"></div>
        <input type="submit" value="Submit"/>
        <input asp-for="ActeursToAdd" id="test" type="hidden"/>

    </div>
</form>