@using Microsoft.JSInterop
@using WebApplication.DTOs
@model WebApplication.Models.BorrowBlurayViewModel


@{
    ViewData["Title"] = "Borrow bluray page";
}
<h1>Emprunter un Bluray :</h1>
<hr/>
<form method="POST" asp-controller="Home" asp-action="HandleSelectBorrowPerson" >
    <select asp-for="SelectEmprunteur" onchange="this.form.submit()">
                @foreach (var emprunteur in Model?.Emprunteurs)
                {
                    <option id=@emprunteur.Nom value=@emprunteur.BaseUrl>@emprunteur.Nom</option>
                }
            </select>
</form>